.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;

  }
  
  .example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2636/2636603.png');
    background-size: cover;
  }